{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
Products list
{% endblock %}

{% block section %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-xxl-12">
            <div class="breadcrumb__wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shops' %}">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Product list' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% if request.user.is_authenticated %}
<h3 class="title_action">{% trans 'Top selling report' %} {% now "Y-m-d" %}</h3>
{% if products %}
<div class="table-content table-responsive">
    <table class="table">
    <tr>
        <th class="text-center">{% trans 'Product name' %}</th>
        <th class="text-center">{% trans 'Discount percentage' %}</th>
        <th class="text-center">{% trans 'Price' %}</th>
        <th class="text-center">{% trans 'Create date' %}</th>
    </tr>
    {% for product in products %}
    <tr>
        <td class="px-3"><a class="text-primary" href="{% url 'product_detail' pk=product.pk %}">{{ product.name|title }}</a></td>
        <td class="text-center">{% firstof product.discount 'no discount' %}</td>
        <td class="text-center">{{ product.price }}</td>
        <td class="px-3">{{ product.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% else %}
<h3>{% trans 'No production' %}</h3>
{% endif %}
<div class="back_to mt-2">
    <p class="link-back"><a class="text-dark" href="{% url 'shops' %}">{% trans 'Home' %}</a></p>
    {% if perms.shopapp.change_product or request.user.is_superuser %}
    <p class="link-back"><a class="text-dark" href="{% url 'create_product' %}">{% trans 'Add new product' %}</a></p>
    {% endif %}
</div>
{% else %}
<h3 class="title_login">{% trans 'You are not logged in!' %}</h3>
{% endif %}
{% endblock %}