{% extends "shopapp/base.html" %}

{% block title %}Продукция{% endblock %}

{% block body %}
<h1>Продукция</h1>
<table>
    {% if products %}
    <tr>
        <th>Наименование продукта</th>
        <th>Описание</th>
        <th>Процент скидки</th>
        <th>Цена</th>
    </tr>
    {% endif %}
    {% for product in products %}
    <tr>

        <td>{{ product.name|title }}</td>
        <td>{{ product.description|title }}</td>
        <td>{{ product.discount }}</td>
        <td>{{ product.price }}</td>
    {% empty %}
        No product here
    {% endfor %}
    </tr>

</table>
{% endblock %}