{% extends "shopapp/base.html" %}

{% block title %}Products{% endblock %}

{% block body %}
<h1>All products</h1>
<table>
    {% if products %}
    <tr>
        <th>Name product</th>
        <th>Discription</th>
        <th>Price</th>
    </tr>
    {% endif %}
    {% for product in products %}
    <tr>

        <td>{{ product.name|title }}</td>
        <td>{{ product.description|title }}</td>
        <td>{{ product.price }}</td>
    {% empty %}
        No product here
    {% endfor %}
    </tr>

</table>
{% endblock %}