{% extends "shopapp/base.html" %}
{% load i18n %}

{% block title %}
Log-in
{% endblock %}
{% block section %}

<div class="mt-70 d-flex justify-content-center">
    <div>
        <h5 class="text-center">{% trans 'Please enter your credentials' %}</h5>
        <div class="mt-10">
            <form class="form-control" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="d-flex justify-content-between">
                    <p class="" style="">{{ field.label_tag }}</p>
                    <p class="" style="">{{ field }}</p>
                </div>
                {% endfor %}
                <input type="hidden" name="return_to"  value="{{ request.META.HTTP_REFERER }}">
                <input class="btn btn-primary p-0 px-4" type="submit" value="Войти">
            </form>
        </div>
    </div>

</div>

{% endblock %}

