{% extends 'shopapp/base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}
Orders list
{% endblock %}


{% block section %}
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
            <div class="breadcrumb__wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shops' %}">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Top up history' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% if payments %}
<div class="col-12">
    <div class="table-content table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'N' }}</th>
                <th>{% trans 'Replenishment amount' %}</th>
                <th>{% trans 'Replenishment amount date' %}</th>

            </tr>
            </thead>
            <tbody>
            {% cache 500 payment_history %}
            {% for payment in payments %}
            <tr>
                <td>
                    <p>{{ forloop.counter }}</p>
                </td>
                <td>
                    <p>{{ payment.replenishment_amount }}</p>
                </td>
                <td>
                    <p>{{ payment.created_at }}</p>
                </td>
            </tr>
            {% endfor %}
            {% endcache %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="col-12 text-center">
    <i class="fa fa-fw fa-shopping-bag fa-8x" aria-hidden="true"></i>
    <div class="d-flex flex-column">
        <h5 class="">{% trans 'You have no payments.' %}</h5>
        <span class="empty-basket-two">{% trans 'Choose the product you need from the catalog of the online store' %}<br> {% trans 'and add to cart' %}</span>
        <a href="{% url 'shops' %}" class="cart-btn m-auto" style="width: 150px;">{% trans 'To catalog' %}</a>
    </div>

</div>
{% endif %}
{% endif %}
{% endblock %}