{% extends "houseroom/base.html" %}
{% load i18n %}
{% block title %}
Contact
{% endblock %}

{% block section %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-xxl-12">
            <div class="breadcrumb__wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'sale' %}">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Contact' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container col-lg-4">
    <h5 class="text-center">{% trans 'Send message:' %}</h5>
    <div class="form-control border-primary border-1 p-3 d-flex justify-content-center col-md-12 col-lg-offset-3"
         style="">
        <form class="form-control" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="d-flex justify-content-between">
                <p class="" style="">{{ field.label_tag }}</p>
                <p class="" style="">{{ field }}</p>
            </div>

            {% endfor %}
            <input class="btn btn-primary px-3" type="submit" value="{% trans 'Send' %}">
        </form>
    </div>
</div>

{% endblock %}