{% extends 'houseroom/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
News
{% endblock %}

{% block section %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-xxl-12">
            <div class="breadcrumb__wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'sale' %}">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'News' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% for post in news %}

<div class="col-xl-6">
    <div class="single-smblog mb-30">
        <div class="smblog-thum">
            <div class="blog-image w-img">
                <a href=""><img src="{{ post.news_images.first.image.url }}" alt=""></a>
            </div>

        </div>
        <div class="smblog-content smblog-content-3">

            <h6><a href="">{{ post.title|truncatechars:100 }}</a></h6>
            <p>{{ post.description|truncatechars:200 }}</p>
<!--            <div class="smblog-foot pt-15">-->
<!--                <div class="post-readmore">-->
<!--                    <a href="{% url 'blogs:blog_detail' pk=post.pk %}"> Read More <span class="icon"></span></a>-->
<!--                </div>-->
<!--                <div class="post-date">-->
<!--                    <a href="">{{ post.created_at }}</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

</div>
{% endfor %}

<div class="row">
    <div class="col-xl-12">
        <div class="basic-pagination text-center pt-30 pb-30">
            <nav>
                <ul>
                    <li>
                        <a href="" class="active">1</a>
                    </li>
                    <li>
                        <a href="">2</a>
                    </li>
                    <li>
                        <a href="">3</a>
                    </li>
                    <li>
                        <a href="">5</a>
                    </li>
                    <li>
                        <a href="">6</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fal fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
{% endblock %}