{% extends "shopapp/base.html" %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}


{% block section %}
<h3 class="title_login">Добро пожаловать на сайт</h3>

<div class="row no-gutters row-eq-height">
    {% for product in products %}
    <div class="card-desk mx-auto col-lg-4 col-md-6 mb-2 pe-0" style="">
        <div class="card bg-white d-flex flex-column shadow-lg bg-light rounded-3" style="">
            {% if 'http' in product.image.url %}
            <img src="{{ product.image }}"
                 style="height: 50vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                 class="card-img-top pt-4 pb-0 bg-light"
                 alt="Laptop"/>
            {% else %}
            <img src="{{ product.image.url }}"
                 style="height: 30vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                 class="card-img-top pt-4 pb-0 bg-light"
                 alt="Laptop"/>
            {% endif %}

            <div class="card-body pt-0">
                <div class="card-body py-0">

                    <div class="rating-star py-3 d-flex justify-content-between">
                        <span title="{% firstof product.rating '0' %}/5">
                            <i class="fa fa-star{% if product.rating < 0.5%}-o{% elif product.rating >= 0.5 and product.rating < 1 %}-half-o{% endif %}"
                               aria-hidden="true" style="color: #f39c12;"></i>
                            <i class="fa fa-star{% if product.rating < 1.5%}-o{% elif product.rating >= 1.5 and product.rating < 2 %}-half-o{% endif %}"
                               aria-hidden="true" style="color: #f39c12;"></i>
                            <i class="fa fa-star{% if product.rating < 2.5%}-o{% elif product.rating >= 2.5 and product.rating < 3 %}-half-o{% endif %}"
                               aria-hidden="true" style="color: #f39c12;"></i>
                            <i class="fa fa-star{% if product.rating < 3.5%}-o{% elif product.rating >= 3.5 and product.rating < 4 %}-half-o{% endif %}"
                               aria-hidden="true" style="color: #f39c12;"></i>
                            <i class="fa fa-star{% if product.rating < 4.5%}-o{% elif product.rating >= 4.5 and product.rating < 5 %}-half-o{% endif %}"
                               aria-hidden="true" style="color: #f39c12;"></i>
                        </span>
                        <p class="card-text pb-1"><b>{{ product.price }} ₽</b></p>
                    </div>
                    <p class="card-title pb-2" style="">
                        <a class="card-link text-decoration-none" href="{% url 'shopapp:product_detail' pk=product.pk %}">
                            {{ product.name|truncatechars:25 }}
                        </a>
                    </p>

                </div>

                <div class="card border-0 px-3">
                    <form class="register-form d-flex justify-content-between" method="post" action="">
                        <input type="number" class="form-control border-success mx-0" style="width: 30%;"/>
                        <button class="btn btn-outline-success p-0" type="submit" style="width: 50%;">
                            <i class="fa fa-shopping-cart" style="font-size: 1rem;"></i>
                        </button>
                    </form>
<!--                    <button class="btn btn-outline-success" type="submit" style="width: 8vw;">-->
<!--                        <i class="fas fa-shopping-cart"></i>-->
<!--                    </button>-->
                </div>


            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}