{% extends "shopapp/base.html" %}
{% block title %}
Log-in
{% endblock %}


{% block section %}
{% if request.user.is_authenticated %}
<div class="container col-lg-4">
    <h5 class="text-center mb-4 text-primary">Профиль пользователя</h5>
    <div class="form-control py-3 px-5 border-primary border-1 d-flex flex-column justify-content-center col-md-12 col-lg-offset-3"
         style="background: linear-gradient(to bottom, #33ccff 0%, #ccff99 100%)">
        <p> Имя пользователя: {{ user.username }} </p>
        <p> Email: {{ user.email }} </p>
        <p> Страна: {{ profile.country }} </p>
        <p> Почтовый индекс: {{ profile.postal_code }} </p>
        <p> Город: {{ profile.city }} </p>
        <p> Адрес: {{ profile.address }} </p>
        <p> Номер телефона: {{ profile.phone }} </p>
        <div class="back_to">
            <p class="link-back"><a href="{% url 'accounts:update_profile' pk=profile.pk %}">Редактировать</a></p>
        </div>
    </div>
</div>
{% else %}
<h5>Вы не аутентифицированы!</h5>
{% endif%}
{% endblock %}