{% extends "news_site/base.html" %}
{% block title %}Log-in{% endblock %}

{% block section %}

<form action="" method="post" id="login" class="login">
    <h1 class="title_login">Создание профиля</h1>
    <fieldset id="inputs" class="inputs">
        {% csrf_token %}
        {{ form.as_p }}
    </fieldset>
    <fieldset id="actions" class="actions">
        <input type="submit" id="submit" value="Создать">
        <a href="">Забыли пароль?</a>
        <a href="">Регистрация</a>
    </fieldset>
</form>
{% endblock %}