{% extends "shopapp/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Log-in
{% endblock %}

{% block section %}
{% if request.user.is_authenticated %}
<div class="container col-lg-4 mb-5">
    <h5 class="text-center py-4 text-primary">{% trans 'User profile' %}</h5>
    <div class="form-control py-4 px-4 border-primary border-1 d-flex flex-column justify-content-center col-md-12 col-lg-offset-3"
         style="">


        {% if user.profiles.avatar %}
        <img class="img-fluid m-auto rounded-circle" src="{{ user.profiles.avatar.url }}" height=100 width=100 style="border:4px solid #d3232e;"><br><br>
        {% else %}
        <img class="img-fluid m-auto rounded-circle" src="{% static 'default_avatars.png' %}" height=100
             width=100 style="border:1px solid #d3232e;"><br><br>
        {% endif %}
        <div class="product__desc-info">
            <ul class="tab-pane">
            <li>
                 <h6 class="">{% trans 'Username:' %}</h6> <span class="mx-auto"> {{ user.username }} </span>
            </li>
            <li>
                <h6> {% trans 'Email:' %}</h6> <span class="mx-auto">{{ user.email }} </span>
            </li>
            <li>
                <h6> {% trans 'Country:' %}</h6> <span class="mx-auto">{{ user.profiles.country }}</span>
            </li>
            <li>
                <h6 class="text-nowrap"> {% trans 'Postal code:' %}</h6> <span class="mx-auto">{{ user.profiles.postal_code }}</span>
            </li>
            <li>
                <h6> {% trans 'City:' %}</h6> <span class="mx-auto">{{ user.profiles.city }}</span>
            </li>
            <li>
                <h6> {% trans 'Address:' %}</h6> <span class="mx-auto">{{ user.profiles.address }}</span>
            </li>
            <li>
                <h6> {% trans 'Phone:' %}</h6> <span class="mx-auto">{{ user.profiles.phone }}</span>
            </li>
            <li>
                <a class="cart-btn" href="{% url 'profile' %}">
                    {% trans 'Update' %}
                </a>
                <a class="cart-btn ms-3" href="{% url 'about-me' request.user.pk %}">
                    {% trans 'Cancel' %}
                </a>
            </li>


        </ul>
        </div>


    </div>
</div>
{% else %}
<h5>{% trans 'You are not identified!' %}</h5>
{% endif%}
{% endblock %}