{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block section %}
<div class="col-5 m-auto">
    <h5 class="text-center pt-3">{% trans 'Registration' %}</h5>
    {% if user_form.errors or profile_form.errors %}
        <p class="text-center">
            {% trans 'The entered data is not correct.' %}
            {% trans 'Please try again.' %}
        </p>
    {% else %}
        <p class="text-center">{% trans 'Please, use the following form to registration:' %}</p>
    {% endif %}
    <div class="form-control pt-4"
         style="">
        <form action="{% url 'profile' %}" class="px-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<!--            {{ user_form.as_p }}-->
            {% for field in user_form %}
                <div class="d-flex justify-content-between">
                    <p class="align-self-center" style="">{{ field.label_tag }}</p>
                    <p class="" style="width: 20vw;">{{ field }}</p>
                </div>
            {% endfor %}

<!--            {{ profile_form.as_p }}-->
            {% for field in profile_form %}
                <div class="d-flex justify-content-between">
                    <p class="align-self-center" style="">{{ field.label_tag }}</p>
                    <p class="" style="width: 20vw;">{{ field }}</p>
                </div>
            {% endfor %}
            <input class="btn btn-primary px-4 mb-2" type="submit" value="{% trans 'Register' %}">

        </form>
    </div>
</div>
{% endblock %}