{% extends "shopapp/base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block section %}
<div class="container col-lg-8">
    <h5 class="text-center my-3">Отправить сообщение:</h5>
    <div class="form-control py-4 px-0 border-primary border-1 d-flex justify-content-center col-md-12 col-lg-offset-3" style="background: linear-gradient(to bottom, #33ccff 0%, #ccff99 100%)">

        <form class="register-form" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
         <input class="btn-primary" type="submit" value="Отправить">
    </form>
</div>
</div>

{% endblock %}