{% extends 'shopapp/base.html' %}

{% block title %}
Product detail
{% endblock %}

{% block section %}
<div class="row no-gutters row-eq-height">
    {% if request.user.is_authenticated %}
    <div class="card-deck bg-white border-primary border rounded col-lg-6 col-md-3 col-sm-4 col-xs-12 d-flex flex-column mx-auto">
        <div class="card mb-3 d-flex flex-column">
            <div class="card-body d-flex flex-column">
                <h5 class="card-text text-wrap text-break mt-3">Детальная информация о заказе № {{object.pk}}</h5>
                <h5 class="card-text text-wrap text-break">Данные заказчика</h5>
                <p><b>Пользователь</b>: {{ object.user.username }}</p>
                <p><b>Email</b>:{{ object.user.email }}</p>
                <p><b>Country</b>:{% firstof object.user.country 'не указан' %}</p>
                <p><b>Почтовый индекс</b>:{% firstof object.user.postal_code 'не указан' %}</p>
                <p><b>Город</b>:{{ object.user.profile.city }}</p>
                <p><b>Адрес</b>:{{ object.user.profile.address }}</p>
                <h5 class="card-text text-wrap text-break">Данные заказа</h5>
                <p>Промокод: {% firstof object.promocode 'отсутствует' %}</p>
                <p>Адрес доставки:{{ object.delivery_address }}</p>
                <h5 class="card-text text-wrap text-break mt-3">Состав заказа:</h5>
                <div class="card-body d-flex flex-column">
                    {% for product in object.products.all %}
                    <div class="card-text text-wrap text-break mb-3"><b>Продукт</b>: {{ product.name }}
                        <h5 class="card-text text-wrap text-break mt-3">Технические характеристики</h5>
                        {% for key, value in product.attributes.items %}
                        <b>{{ key }}</b>: {{ value }}<br/>
                        {% endfor %}
                    </div>
                    <p>Цена: {{ product.price }}</p>
                    <p>Скидка: {% firstof product.discount 'отсутствует' %}</p>
                    <p><b>Описание продукта</b>:</br></br> {{ product.description }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="back_to">
    <p class="link-back"><a href="{% url 'shopapp:orders_list' %}">Вернуться к списку заказов</a></p>
    {% if request.user.is_authenticated %}
    <p class="link-back"><a href="{% url 'shopapp:update_order' pk=object.pk %}">Обновить заказ №
        {{object.pk}}</a>
    </p>
    <p><a href="{% url 'shopapp:order_delete' pk=object.pk %}">Удалить заказ № {{object.pk}}</a></p>
    {% endif %}
</div>
{% else %}
<h5>Вы не аутентифицированы!</h5>
{% endif %}
{% endblock %}