{% extends 'shopapp/base.html' %}
{% load static %}
{% block title %}
Products list
{% endblock %}

{% block section %}

<div class="row no-gutters row-eq-height">

    <div class="card-deck col-lg-3 col-md-3 col-sm-4 col-xs-12 d-flex">

        <div class="card mb-3 bg-white border-primary border rounded d-flex flex-column" style="width: 44rem;">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/12.webp"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
              alt="Laptop" />
            <div class="card-body">
                <p class="card-text text-wrap text-break">{{ object.name|title }}</p>
                <p class="card-text text-wrap text-break">{{ object.description|title }}</p>
            </div>
        </div>
    </div>
</div>

<div class="back_to">
    <p class="link-back"><a href="{% url 'shopapp:products_list' %}">Вернуться к списку продуктов</a></p>
    {% if request.user.is_authenticated %}
    <p class="link-back"><a href="{% url 'shopapp:update_product' pk=object.pk %}">Обновить продукт № {{object.pk}}</a></p>
    <p><a href="{% url 'shopapp:product_archived' pk=object.pk %}">Архивировать продукт № {{object.pk}}</a></p>
    {% endif %}
</div>

{% endblock %}