{% extends 'shopapp/base.html' %}

{% block title %}
Products list
{% endblock %}
{% block header %}
<h1 class="header-title">Lesson: Аутентификация и авторизация</h1>
{% if request.user.is_authenticated %}
<p>
    <a class="login-btn" type="button" href="{% url 'shopapp:logout' %}">Выход</a>
</p>
{% else %}
<p>
    <a class="login-btn" type="button" href="{% url 'shopapp:login' %}">Вход</a>
</p>
{% endif %}
{% endblock %}
{% block section %}

<h1 class="title_action">Детальная информация о продукте № {{object.pk}}</h1>

<table class="table-product">
    <tr>
        <th>ID продукта</th>
        <th>Наименование продукта</th>
        <th>Описание</th>
        <th>Процент скидки</th>
        <th>Цена</th>
        <th>Статус</th>
    </tr>
    <tr>
        <td>{{ object.pk }}</td>
        <td>{{ object.name|title }}</td>
        <td>{{ object.description|title }}</td>
        <td>{% firstof object.discount 'no discount' %}</td>
        <td>{{ object.price }}</td>
        <td>{{ object.archived }}</td>
    </tr>
</table>

<div class="back_to">
    <p class="link-back"><a href="{% url 'shopapp:products_list' %}">Вернуться к списку продуктов</a></p>
    {% if request.user.is_authenticated %}
    <p class="link-back"><a href="{% url 'shopapp:update_product' pk=object.pk %}">Обновить продукт № {{object.pk}}</a></p>
    <p><a href="{% url 'shopapp:product_archived' pk=object.pk %}">Архивировать продукт № {{object.pk}}</a></p>
    {% endif %}
</div>

{% endblock %}