{% extends 'shopapp/base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block title %}
Cart list
{% endblock %}


{% block section %}
<!--{% if request.user.is_authenticated %}-->
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
            <div class="breadcrumb__wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shopapp:shop_page' %}">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Cart' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="table-content table-responsive">
            <div class="table-content table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">{% trans 'Images' %}</th>
                        <th class="cart-product-name">{% trans 'Product name' %}</th>
                        <th class="product-price">{% trans 'Price' %}</th>
                        <th class="product-quantity">{% trans 'Quantity' %}</th>
                        <th class="product-subtotal">{% trans 'Total' %}</th>
                        <th class="product-remove">{% trans 'Remove' %}</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for item in cart %}
                        <tr>
                            <td>
                                <a href="">
                                        {% if 'http' in item.product.image.url %}
                                        <img src="{{ item.product.image }}"
                                             style="height: 50vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                                             class=""
                                             alt="product"/>
                                        {% else %}
                                        <img src="{{ product.image.url }}"
                                             style="height: 30vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                                             class=""
                                             alt="product"/>
                                        {% endif %}
                                    </a>
                            </td>
                            <td class="product-name"><a href="">{{ item.product.name }}</a></td>
                            <td class="product-price"><span class="amount">{{ item.price }}</span></td>
                            <td class="d-flex">
                                    <form action="{% url 'shopapp:cart_update' item.product.id %}" method="post">
                                        {{ item.update_quantity_form.update }}
                                        {{ item.update_quantity_form.quantity }}

                                        <input type="submit" value="Update">
                                        {% csrf_token %}
                                    </form>
                            </td>
                            <td class="product-subtotal">
                                <span class="amount">{{ item.total_price }}</span>
                            </td>
                            <td class="product-remove"><a href="{% url 'shopapp:cart_remove' item.product.id %}"><i
                                    class="fa fa-times"></i></a></td>

                        </tr>
                        {% endfor %}
                        <br>

                    </tbody>
                </table>
                <div class="product-total ">
                        <p class="d-block">Total: ${{ cart.get_total_price }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="coupon-all">
                        <div class="coupon">
                            <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                   placeholder="Coupon code"
                                   type="text">
                            <button class="tp-btn-h1" name="apply_coupon" type="submit">Apply
                                coupon
                            </button>
                        </div>
                        <div class="coupon2">
                            <input class="tp-btn-h1" type="submit" value="Update cart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-5">
                    <div class="cart-page-total">
                        <h2>{% trans 'Cart totals' %}</h2>
                        <ul class="mb-20">
                            <li>Subtotal <span>$250.00</span></li>
                            <li>Total <span>$250.00</span></li>
                        </ul>
                        <a class="tp-btn-h1" href="checkout.html">{% trans 'Proceed to checkout' %}</a>
                    </div>
                </div>
            </div>
    </div>
</div>
<!--{% endif %}-->
{% endblock %}