{% extends "shopapp/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Главная страница
{% endblock %}

{% block section %}

<section class="banner__area pt-20 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative w-img mb-30">
                    <div class="banner__img">
                        <a href=""><img src="{% static 'assets/img/banner/bg-blog.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="">{% trans 'Intelligent' %} <br> {% trans 'New Touch Control'
                            %}</a></h6>
                        <p>{% trans 'Discount 20% On Products' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href=""><img src="{% static 'assets/img/banner/bg-blog.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="">{% trans 'On-sale' %} <br> {% trans 'Best Prices' %}</a></h6>
                        <p>{% trans 'Limited Time: Online Only!' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href=""><img src="{% static 'assets/img/banner/bg-blog.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="">{% trans 'Hot Sale' %} <br> {% trans 'Super Laptops 2023' %}
                        </a></h6>
                        <p>{% trans 'Free Shipping All Order' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="topsell__area-1 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile-d">Top Deals Of The Day</h5>
                    </div>
                    <div class="offer-time">
                        <span class="offer-title d-none d-sm-block">{% trans 'Hurry Up! Offer ends in:' %}</span>
                        <div class="countdown">
                            <div class="countdown-inner b-radius" data-countdown="Mar 01 2023 20:20:22"
                                 data-date="Mar 31 2023 20:20:22">
                                <ul class="text-center">
                                    <li><span data-days="">'36'</span> {% trans 'Days' %}</li>
                                    <li><span data-hours="">8</span> {% trans 'Hours' %}</li>
                                    <li><span data-minutes="">16</span> {% trans 'Mins' %}</li>
                                    <li><span data-seconds="">54</span> {% trans 'Secs' %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-bs-slider">
                <div class="product-slider swiper-container">
                    <div class="swiper-wrapper">
                        {% for product in products %}

                        <div class="product__item swiper-slide">
                            <div class="product__thumb fix">
                                <div class="product-image w-img">
                                    <a href="">
                                        {% if 'http' in product.to_json.image.url %}
                                        <img src="{{ product.image }}"
                                             style="height: 50vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                                             class=""
                                             alt="product"/>
                                        {% else %}
                                        <img src="{{ product.image.url }}"
                                             style="height: 30vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                                             class=""
                                             alt="product"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="product__offer">
                                    <span class="discount">-{{ product.to_json.discount }} %</span>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal"
                                       data-bs-target="#productModalId">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-heart"></i>
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h6 class="mt-3">
                                    <a href="{% url 'shopapp:product_detail' pk=product.pk %}">
                                        {{ product.to_json.name|truncatechars:25 }}
                                    </a>
                                </h6>
                                <div class="rating mb-5">
                                    <ul>
                                        <li><a href="#">
                                            <i class="fa fa-star{% if product.to_json.rating < 0.5 %}-half {% elif product.to_json.rating >= 0.5 and product.to_json.rating < 1.0 %}-half {% endif %}"
                                               aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-star{% if product.to_json.rating < 1.5 %}-half {% elif product.to_json.rating >= 1.5 and product.to_json.rating < 2.0 %}-half {% endif %}"
                                               aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-star{% if product.to_json.rating < 2.5 %}-half {% elif product.to_json.rating >= 2.5 and product.to_json.rating < 3.0 %}-half {% endif %}"
                                               aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-star{% if product.to_json.rating < 3.5 %}-half {% elif product.to_json.rating >= 3.5 and product.to_json.rating < 4.0 %}-half {% endif %}"
                                               aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-star{% if product.to_json.rating < 4.5 %}-half {% elif product.to_json.rating >= 4.5 and product.to_json.rating <= 5.0 %} -half {% endif %}"
                                               aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                    <span>({% firstof product.to_json.rating '0' %}/5)</span>
                                </div>
                                <div class="price mb-10">
                                    <span><del class="me-2">{{ product.to_json.price }} {% trans '₽' %}</del> {{ product.to_json.old_price }} {% trans '₽' %}</span>
                                    <!--                                    <span>{{ product.price }} ₽</span>-->
                                </div>
                                <div class="progress mb-5">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                         style="width: {{ product.to_json.progress }}%"
                                         aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress-rate">
                                    <span>{% trans 'Sold:' %} {{ product.to_json.sold }}/{{ product.to_json.products_count }}</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                <button type="button"
                                        class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                    {% trans 'Add to Cart' %}
                                </button>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="bs-button bs-button-prev"><i class="fal fa-chevron-left"></i></div>
                <div class="bs-button bs-button-next"><i class="fal fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</section>
<section class="topsell__area-2 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile">{% trans 'Top Selling Products' %}</h5>
                    </div>
                    <div class="product__nav-tab">
                        <ul class="nav nav-tabs" id="flast-sell-tab" role="tablist">
                            {% for catalog in catalogs %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if forloop.counter == 1 %} active {% endif %}"
                                        id="{{ catalog.eng_name }}-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#{{ catalog.eng_name }}" type="button"
                                        role="tab" aria-controls="{{ catalog.eng_name }}"
                                        aria-selected="false">{{ catalog.name|upper }}
                                </button>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="tab-content" id="flast-sell-tabContent">
                    {% for catalog in catalogs %}
                    <div class="tab-pane fade {% if forloop.counter == 1 %} active show {% endif %}"
                         id="{{ catalog.eng_name }}" role="tabpanel"
                         aria-labelledby="{{ catalog.eng_name }}-tab">
                        <div class="product-bs-slider-2">
                            <div class="product-slider-2 swiper-container">
                                <div class="swiper-wrapper">
                                    {% for product in products %}

                                    {% if catalog.name == product.to_json.catalog and product.to_json.sold > 30 and forloop.counter < 6 %}
                                    <!--                                    111{{ forloop.counter }}-->
                                    <div class="product__item swiper-slide">
                                        <div class="product__thumb fix">
                                            <div class="product-image w-img">
                                                <a href="product-details.html">
                                                    {% if 'http' in product.to_json.image.url %}
                                                    <img src="{{ product.image }}"
                                                         style="height: 50vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                                                         class=""
                                                         alt="product"/>
                                                    {% else %}
                                                    <img src="{{ product.to_json.image.url }}"
                                                         style="height: 30vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                                                         class=""
                                                         alt="product"/>
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="product__offer">
                                                <span class="discount">-{{ product.to_json.discount }}%</span>
                                            </div>
                                            <div class="product-action">
                                                <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal"
                                                   data-bs-target="#productModalId">
                                                    <i class="fal fa-eye"></i>
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="#" class="icon-box icon-box-1">
                                                    <i class="fal fa-heart"></i>
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                                <a href="#" class="icon-box icon-box-1">
                                                    <i class="fal fa-layer-group"></i>
                                                    <i class="fal fa-layer-group"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product__content">
                                            <h6 class="mt-3"><a href="{% url 'shopapp:product_detail' pk=product.pk %}">{{ product.to_json.name }}</a>
                                            </h6>
                                            <div class="rating mb-5">
                                                <ul>
                                                    <li><a href="#">
                                                        <i class="fa fa-star{% if product.to_json.rating < 0.5 %}-half {% elif product.to_json.rating >= 0.5 and product.to_json.rating < 1.0 %}-half {% endif %}"
                                                           aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#">
                                                        <i class="fa fa-star{% if product.to_json.rating < 1.5 %}-half {% elif product.to_json.rating >= 1.5 and product.to_json.rating < 2.0 %}-half {% endif %}"
                                                           aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#">
                                                        <i class="fa fa-star{% if product.to_json.rating < 2.5 %}-half {% elif product.to_json.rating >= 2.5 and product.to_json.rating < 3.0 %}-half {% endif %}"
                                                           aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#">
                                                        <i class="fa fa-star{% if product.to_json.rating < 3.5 %}-half {% elif product.to_json.rating >= 3.5 and product.to_json.rating < 4.0 %}-half {% endif %}"
                                                           aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#">
                                                        <i class="fa fa-star{% if product.to_json.rating < 4.5 %}-half {% elif product.to_json.rating >= 4.5 and product.to_json.rating <= 5.0 %} -half {% endif %}"
                                                           aria-hidden="true"></i></a>
                                                    </li>
                                                </ul>
                                                <span>({% firstof product.to_json.rating '0' %}/5)</span>
                                            </div>
                                            <div class="price">
                                                <span><del
                                                        class="me-2">{{ product.to_json.price }} {% trans '₽' %}</del> {{ product.to_json.old_price }} {% trans '₽' %}</span>
                                            </div>
                                        </div>
                                        <div class="product__add-cart text-center">
                                            <button type="button"
                                                    class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                                {% trans 'Add to Cart' %}
                                            </button>
                                        </div>
                                    </div>
                                    {% elif catalog.name != product.to_json.catalog and forloop.last %}
                                    <p>Нет данных</p>
                                    {% endif %}

                                    {% endfor %}
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="bs-button bs2-button-prev"><i class="fal fa-chevron-left"></i></div>
                            <div class="bs-button bs2-button-next"><i class="fal fa-chevron-right"></i></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="moveing-text-area">
    <div class="container">
        <div class="ovic-running">
            <div class="wrap">
                <div class="inner">
                    <p class="item">Free UK Delivery - Return Over $100.00 ( Excluding Homeware ) | Free UK Collect From
                        Store</p>
                    <p class="item">Design Week / 15% Off the website / Code: AYOSALE-2020</p>
                    <p class="item">Always iconic. Now organic. Introducing the $20 Organic Tee.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}