{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
Orders list
{% endblock %}


{% block section %}
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
            <div class="breadcrumb__wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shopapp:shop_page' %}">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Orders' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="table-content table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans 'Image' %}</th>
                <th>{% trans 'Name of product' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Count' %}</th>
                <th>{% trans 'Sum' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>
                    {% if 'http' in order.image.url %}
                    <img src="{{ order.image }}"
                         style="height: 10vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                         class=""
                         alt="Laptop"/>
                    {% else %}
                    <img src="{{ order.image.url }}"
                         style="height: 10vh; object-fit: contain; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                         class=""
                         alt="Laptop"/>
                    {% endif %}
                </td>
                <td>
                    <p>{{ order.name }}</p>
                </td>
                <td>
                    <p>{{ order.price }}</p>
                </td>
                <td>
                    <p>{{ order.count }}</p>
                </td>
                <td>
                    <p>{{ order.sum }}</p>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}