{% extends 'shopapp/base.html' %}
{% load i18n %}
{% block title %}
Orders list
{% endblock %}

{% block section %}
{% if request.user.is_authenticated %}
<h1 class="title_action">{% trans 'Order list:' %}</h1>
{% if orders %}
<table class="table-product">
    <tr>
        <th>id</th>
        <th>{% trans 'User' %}</th>
        <th>{% trans 'Promo code' %}</th>
        <th>{% trans 'Delivery address' %}</th>
        <th>{% trans 'Name of product' %}</th>
        <th>{% trans 'Product Description' %}</th>
        <th>{% trans 'Discount in %' %}</th>
        <th>{% trans 'Price' %}</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td><a href="{% url 'shopapp:order_detail' pk=order.pk %}">{{ order.pk }}</a></td>
        <td>{% firstof order.user.first_name order.user.username %}</td>
        <td>{{ order.promocode }}</td>
        <td><a href="{% url 'shopapp:order_detail' pk=order.pk %}">{{ order.delivery_address }}</a></td>
        <td>
            {% for product in order.products.all %}
            <p>{{ product.name }}</p>
            {% endfor %}
        </td>
        <td >
            {% for product in order.products.all %}
            {{ product.description|truncatechars:300  }}
            {% endfor %}
        </td>
        <td>
            {% for product in order.products.all %}
            <p>{{ product.discount }}</p>
            {% endfor %}
        </td>
        <td>
            {% for product in order.products.all %}
            <p>{{ product.price }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>Заказы отсутствует</h3>
{% endif %}
<div class="back_to">
    <p class="link-back"><a class="text-white" href="{% url 'shopapp:shop_page' %}">{% trans 'Home' %}</a></p>
    {% if request.user.is_authenticated %}
    <p class="link-back"><a class="text-white" href="{% url 'shopapp:create_order' %}">{% trans 'Add new order' %}</a></p>
    {% endif %}
</div>
{% else %}
<h5>{% trans 'You are not identified!' %}</h5>
{% endif %}

{% endblock %}