{% extends 'shopapp/base.html' %}

{% block title %}
Update order
{% endblock %}

{% block section %}
<h1 class="title_action">Обновить заказ № {{object.pk}}</h1>
<form method="Post" id="data" class="order__form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="order_btn" type="submit">Обновить</button>
</form>
<div class="back_to">
    <p>
        <a href="{% url 'shopapp:order_detail' pk=object.pk %}">Вернуться назад к заказу № {{object.pk}}</a>
    </p>
</div>
{% endblock %}