{% extends "shopapp/base.html" %}
{% block title %}
Log-in
{% endblock %}

{% block header %}
    <h1 class="header-title">Lesson: Аутентификация и авторизация</h1>
{% endblock %}

{% block section %}
<form action="" method="post" id="login" class="login">
    <h1 class="title_login">Авторизация</h1>
    <fieldset id="inputs" class="inputs">
        {% csrf_token %}
        {{ form.as_p }}
    </fieldset>
    <fieldset id="actions" class="actions">
        <input type="submit" id="submit" value="ВОЙТИ">
        <a href="">Забыли пароль?</a>
        <a href="">Регистрация</a>
    </fieldset>
</form>
{% endblock %}


