{% extends 'shopapp/base.html' %}

{% block title %}
Products list
{% endblock %}
{% block header %}
<h1 class="header-title">Lesson: Аутентификация и авторизация</h1>
{% if request.user.is_authenticated %}
<p>
    <a class="login-btn" type="button" href="{% url 'shopapp:logout' %}">Выход</a>
</p>
{% else %}
<p>
    <a class="login-btn" type="button" href="{% url 'shopapp:login' %}">Вход</a>
</p>
{% endif %}
{% endblock %}
{% block section %}

<h1 class="title_action">Стоимость продуктов на {% now "Y-m-d" %}</h1>
{% if products %}
<table class="table-product">
    <tr>
        <th>Наименование продукта</th>
        <th>Описание</th>
        <th>Процент скидки</th>
        <th>Цена</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><a href="{% url 'shopapp:product_detail' pk=product.pk %}">{{ product.name|title }}</a></td>
        <td>{{ product.description|title }}</td>
        <td>{% firstof product.discount 'no discount' %}</td>
        <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>Продукция отсутствует</h3>
{% endif %}
<div class="back_to">
    <p class="link-back"><a href="{% url 'shopapp:shop_page' %}">Главная страница</a></p>
    {% if request.user.is_authenticated %}
    <p class="link-back"><a href="{% url 'shopapp:create_product' %}">Добавить новый продукт</a></p>
    {% endif %}
</div>
{% endblock %}



