{% extends 'shopapp/base.html' %}

{% block title %}
Update product
{% endblock %}

{% block section %}
<h1 class="title_action">Обновить продукт № {{object.pk}}?</h1>
<form method="Post" class="product_update-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="yesno_block">
        <button class="update_btn-archived btn-reset" type="submit">Да</button>
        <button class="cancel_btn-archived btn-reset" onclick="{% url 'shopapp:product_detail' pk=object.pk %}">Нет</button>
    </div>

</form>

<div class="back_to">
    <p>
        <a href="{% url 'shopapp:product_detail' pk=object.pk %}">Вернуться назад к продукту № {{object.pk}}</a>
    </p>
</div>
{% endblock %}